name: Ci3 source Update [master]

on:
  push:
    paths:
      - "ci3/**"
      - ".github/workflows/ci3_deploy.yml"
    branches: [ "master" ]
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# job은 사용자가 정한 플랫폼을 통해 steps 라는 일련의 과정을 실행.
# 여러 개의 job 을 사용할 수 있으며, 여러 개의 job 을 사용할 때는 서로 정보도 교환 가능.
# 각각 독립적으로도 실행 가능.
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    
    steps:
      # 레파지터리 체크 아웃
      - name: Check out source code
        uses: actions/checkout@v4
      
#      # Source Ci3 to server copy transfer
#      - name: Copy ci3, source data to CAFE24 server
#        uses: appleboy/scp-action@master
#        with:
#          host: ${{ secrets.CAFE24_HOST }}
#          username: ${{ secrets.CAFE24_USER }}
#          password: ${{ secrets.CAFE24_PASS }}
#          source: 'ci3'
#          target: ${{ secrets.CAFE24_PATH }}/
          
      - name: Copy ci3, source data to NFS server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.NFS_HOST }}
          username: ${{ secrets.NFS_USER }}
          password: ${{ secrets.NFS_PASS }}
          source: 'ci3'
          target: ${{ secrets.NFS_PATH }}/
      
      # directory check!!
      - name: SSH Remote Commands from ci/cd server
        uses: garygrossgarten/github-action-ssh@release
        with:
          host: ${{ secrets.NFS_HOST }}
          username: ${{ secrets.NFS_USER }}
          password: ${{ secrets.NFS_PASS }}
          command: |
            cd ${{ secrets.NFS_PATH }}/
            if [ ! -d "./ci3/uploads" ]; then
            mkdir -p ./ci3/uploads; fi;
            if [ ! -d "./ci3/application/cache" ]; then
            mkdir -p ./ci3/application/cache; fi;
            if [ ! -d "./ci3/application/logs" ]; then
            mkdir -p ./ci3/application/logs; fi;
            chmod -R 707 ci3/uploads; chmod -R 707 ci3/application/cache; chmod -R 707 ci3/application/logs; 
            if [ ! -d "./volume/backups" ]; then
            mkdir -p ./volume/backups; chmod -R 707 volume/backups; fi;
            if [ ! -d "./volume/sql" ]; then
            mkdir -p ./volume/sql; chmod -R 707 volume/sql; fi;
      
      # slack --> notification
      - name: Send slack when failed
        if: ${{ failure() }}                    # 실패했을 때 실행
        uses: ./.github/actions/slack-notify    # 직접 '만든' Action이므로 uses 키워드를 이용해서 아래 경로를 입력해줍니다.
        with:
          slack_incoming_url: ${{ secrets.SLACK_INCOMING_URL }}
      
      - name: Send slack if completed
        if: ${{ success() }}                    # 성공할 때만 실행
        uses: ./.github/actions/slack-notif
        with:
          status: success   # status input은 받는 쪽에서 default 값을 정해놨기 때문에 success일 때만 전달.
          slack_incoming_url: ${{ secrets.SLACK_INCOMING_URL }}
